[Desktop Entry]
Exec=/home/notrealsean/.config/autostart/start-script.sh
Icon=application-x-shellscript
Name=start-script.sh
Type=Application
X-KDE-AutostartScript=true
